:root {
  --color-primary: #121212;
  --color-secondary: #484848;
  --color-borders: #989898;
  --color-accent: #f05454;
  --color-accent-2: #30475e;
  --font-primary: "Konkhmer Sleokchher", sans-serif;
}