:root {
  --color-primary: #121212;
  --color-secondary: #484848;
  --color-borders: #989898;
  --color-accent: #f05454;
  --color-accent-2: #30475e;
  --font-primary: "Konkhmer Sleokchher", sans-serif;
}
/* ===== NAV GENERAL ===== */
nav {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f5f5f5;
    border: 1px solid var(--color-borders);
    border-radius: 18px;
    padding: 14px 28px;
    z-index: 1000;
    width:60%;

    height: 10%;
    display: flex;
}

.userCon i {
display: flex;
    font-weight: 900;
    color: #d64000;
    font-size: 28px;
    transition: color 0.2s ease;
}

.userCon i:hover {
 color: #511a09;
}

/* Ajustes generales para listas dentro del nav */
.userCon, .userCon li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.userCon a {
    text-decoration: none;
    display: inline-block;
    border:none;
}

/* ===== CONTENEDOR ===== */
.containerNav {
    display: flex;
    align-items: center;
    justify-content: center;
  
}

/* ===== LISTA ===== */
.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
   
}

/* ===== LINKS ===== */
.nav-list li a {
    text-decoration: none;
    font-family: var(--font-primary);
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: var(--color-secondary);
    transition: color 0.2s ease;
}

/* ===== HOVER ===== */
.nav-list li a:hover {
    color: #000000;
}

/* ===== BOTONES LOGIN (si los activas) ===== */
.userCon {
    display: flex;
    gap: 12px;
    margin: 40px 61px;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 34px;
    right: 8%;
      
}
/* .userCon a {
    text-decoration: none;
    font-size: 23px;
    font-weight: 600;
    color: #555;
    border: 1px solid var(--color-borders);
    border-radius: 7px;
    padding: 6px 14px;
    transition: all 0.2s ease;
    font-family: var(--font-primary);
    text-transform: uppercase;
} */



.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0; top: 0;
    width: 100%; height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 12px;
    max-width: 400px;
    position: relative;
}

.close {
    position: absolute;
    right: 15px; top: 10px;
    font-size: 24px;
    cursor: pointer;
}

.btn {
    padding: 8px 12px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn:hover {
    background-color: #555;
}

.likeBtn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-top: 5px;
}
